.arrow__top{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 50000000000000000;
    clip-path: polygon(50% 0%, 0% 50%, 25% 50%, 25% 100%, 75% 100%, 75% 50%, 100% 50%);
    

}
.arrow__top:hover{
    cursor: pointer;
}