:root{
    --main-bg-color: #1E90FF;
    --main-color:  #fff;
    --main-error-color: #FF0000;

}
a{
    text-decoration: none;
}

input:focus {outline:none;}
textarea:focus{outline: none;}

.button-success{
    font-size: 20px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
}
.button-success:hover{
    cursor: pointer;
}
.modal__file:hover{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;

}

/*header*/

.header {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    

}
.header__wrapper {
display: flex;
justify-content: space-between;
align-items: center;

}
.header_logo {
    font-size: 30px;
}
.navbar {
    font-size: 25px;
}
.navbar_list {
    display: flex;
}

.list__item {
    margin: 10px;
    list-style: none;
    color: var(--main-color);

}

/*footer*/

.footer{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.footer__wrapper{
    display: flex;
    font-size: 25px;
}

/*post*/
.post{
    width: 300px;
    height: 150px;
    position: relative;
    margin-top: 15px;
}
.post:hover{
    cursor: pointer;
}

.post__wrapper:hover .post__info{
    opacity: 1;
    transition: all 1s;
}


.post__img{
    position: absolute;
}

.post__img>img{
    width: 320px;
    height: 150px;

}
.post__info {
   
   cursor: pointer;
   position: absolute;
   bottom: -30px;
   left: 0;
   background-color: var(--main-bg-color);
   color: var(--main-color);
   width: 100%;
   line-height: 30px;
   padding: 10px;
   opacity: 0;
   transition: all 1s;
  
  
    
}
.post__title {
    font-size: 20px;
   
}
.post__auter {
    font-size: 16px;
    
}
.postList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  margin: 20px 0px 100px 0px;
}

/*Auth*/


.login__form {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
       
}

.form__wrapper>div{
    margin-top: 10px;

}


.login__input{
    width: 300px;
    border: none;
    border-bottom: 2px solid var(--main-bg-color);
    height: 20px;
    padding: 5px;
    font-size: 20px;

}

.login__success {
    font-size: 20px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
}
.login__success:hover{
    cursor: pointer;
}

.input__error{
    color: var(--main-error-color);
    font-size: 20px;
}
.form__message{
    font-size: 20px;
}

/*post detail*/

.detail>div{
    margin-top: 15px;
}

.detail__header>img{
    width: 100%;
    height: 300px;

}
.detail__title {
    
}
.title {
}
.detail__description {
    font-size: 20px;
}

/*Profile*/
.profile__head {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.profile__Settings{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom:30px;
    right: 30px;
    

}
.profile__Settings:hover{
    cursor: pointer;
    transform: rotate(90deg);
}
.profile__icon>img{
    width: 100px;
    height: 100px;
}


.profile__body{
    
    padding-bottom: 10px;
}
.profile__line{
    border-bottom: 2px solid var(--main-bg-color);
}
.profile__title {
    margin-top: 19px;
    
}
.profile__posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 100px 0px;
}
/*spinner*/


.spinner__loader{
    width: 100%;
   height: 150px;
 
  
    
}
.loading {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20%;
  }
.loading::after {
    
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #1E90FF;
    border-radius: 50%;
    animation: loading 1s ease infinite;
  }

  @keyframes loading {
    to {
      transform: rotate(1turn);
    }
  }
 
  .setting {
}
.setting__wrapper {
    min-width: 1000px;
    min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
  justify-content: center;
   
}
.setting__item {
}
.setting__btn {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-color: var(--main-color);
    background-color: var(--main-bg-color);
    color: var(--main-color);
    
}
.setting__btn:hover{
    cursor: pointer;
}

/*file*/
.modal {
    width: 100%;
    height: 100%;
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1111;
}
.modal__container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}
.modal__body {
    margin: auto;
    width: 500px;
    background-color: var(--main-color);
    padding: 20px;
    position: relative;
}
.modal__close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1em;
    height: 1em;
    background-color: #000;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

}
.modal__close:hover{
    cursor: pointer;
}
.modal__title{
    text-align: center;
    font-size:  20px;
    font-weight: bold;
}
.modal__input{
  margin-top: 20px;


}
.input-text {
        width: 300px;
        border: none;
        border-bottom: 2px solid var(--main-bg-color);
        height: 20px;
        padding: 5px;
        font-size: 20px;
    
}
.modal__descriptinon{
    width: 400px;
    height: 500px;
    border-color: var(--main-bg-color);
    color: #000;
    padding: 15px;
    font-size: 20px;
}
.modal__img{
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}

/*file*/
.file{
    display: none;
}
.modal__file{
    margin-top: 15px;
}




