:root{
    --main-bg-color: #1E90FF;
    --main-color:  #fff;
    --main-error-color: #FF0000;

}
a{
    text-decoration: none;
}

input:focus {outline:none;}

*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;

}

/*header*/

.header {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    

}
.header__wrapper {
display: flex;
justify-content: space-between;
align-items: center;

}
.header_logo {
    font-size: 30px;
}
.navbar {
    font-size: 25px;
}
.navbar_list {
    display: flex;
}

.list__item {
    margin: 10px;
    list-style: none;
    color: var(--main-color);

}

/*footer*/

.footer{
    background-color: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.footer__wrapper{
    display: flex;
    font-size: 25px;
}

/*post*/
.post{
    width: 300px;
    height: 150px;
    position: relative;
}
.post:hover{
    cursor: pointer;
}

.post__wrapper:hover .post__info{
    opacity: 1;
    transition: all 1s;
}


.post__img{
    position: absolute;
}

.post__img>img{
    width: 320px;
    height: 150px;

}
.post__info {
   
   cursor: pointer;
   position: absolute;
   bottom: -30px;
   left: 0;
   background-color: var(--main-bg-color);
   color: var(--main-color);
   width: 100%;
   line-height: 30px;
   padding: 10px;
   opacity: 0;
   transition: all 1s;
  
  
    
}
.post__title {
    font-size: 20px;
   
}
.post__auter {
    font-size: 16px;
    
}

/*Auth*/


.login__form {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
       
}

.form__wrapper>div{
    margin-top: 10px;

}


.login__input{
    width: 300px;
    border: none;
    border-bottom: 2px solid var(--main-bg-color);
    height: 20px;
    padding: 5px;
    font-size: 20px;

}

.login__success {
    font-size: 20px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
}
.login__success:hover{
    cursor: pointer;
}

.input__error{
    color: var(--main-error-color);
    font-size: 20px;
}
.form__message{
    font-size: 20px;
}